@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=IBM+Plex+Mono&family=Philosopher:ital@1&display=swap');
h1 {
    font-family: 'Amatic SC', cursive;
}
h3 {
    font-family: 'Philosopher', sans-serif;
}
label {
    font-family: 'IBM Plex Mono', monospace;
}
h1, h3 { 
    text-align: center; 
}
.modal {
    padding-left: 43%;
}

.formValid {
    padding-left: 40%;
}
