.open-button {
position: fixed;
bottom: 630px;
right: 600px;
width: 290px;
}

.form-popup {
display: none;
position: fixed;
bottom: 0;
right: 584px;
padding-bottom: 380px;
}

.form-container {
max-width: 320px;
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=email]{
    width: 100%;
}